@import url(./fonts.css);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
  background: rgba(196, 196, 196, 0.42);
}

.body-content{
    position: relative;
    width:100%;
    height: auto;
    display: flex;
}
.sidebar-container{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: start;
    position: fixed;
    left: 0;
}
.side-content{
    /* background-color: yellow; */
    width:90%;
    height: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;         */
    gap: 20%;
    align-items: center;
    padding: 5rem 0 0 0;
}
.logo{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #00302E;
}
.navbar{
    height: 45%;
    width:100%;
    display: flex;
    position: relative;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:1rem;
    width: 100%;
}
.nav-menu li{
    width: 100%;
    display: flex;
    align-items: baseline;
    gap:10px;
    padding: 5px 20px;
    cursor: pointer;
}
.nav-menu li:hover{
    background-color: #efefef;
    border-radius: 12px;
    
}
.nav-menu li a{
    font-size: 14px;
    color:#bcbcbc
}

.nav-item a span{
  padding-left: 5px;
  padding-right: 5px;
  background: #06E775;
  color: #ffffff;
  border-radius: 7px;
  margin-left: 10px;
}
.nav-item:active{
    background-color: #efefef;
    border-radius: 12px;
    color: #000;
}

/* MAIN CONTAINER */
.main-container{
    width:80%;
    position: relative;
    left: 20%;
    max-height: 100vh;
}
.main-content{
    width:90%;
    height:fit-content;
    margin: 3rem auto 0;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    
}
.topbar-profile{
    display: flex;
    justify-content: space-between;
}
.greeting p{
    font-size: 13px;
}
.user{
    width:50px;
    height: 50px;
    border:1px solid #000;
    border-radius: 50px;
    display: none;
}
.item{
    width:200px;
    height: fit-content;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem 2rem 1rem;
    border: 0.3px solid rgba(0, 48, 46, 0.14);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #000000;
}
.item-img{
    width:100px;
    height: 100px;
    position: relative;
    border-radius: 50px;
    margin-bottom: 1rem;
}
.item-img img{
    width:100px;
    height: 100px;
    border-radius: 50px;
}
.item-name{
    width:90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:3px;
    margin-bottom: 7px;
}
.items-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.item-name p{
    font-size: 13px;
}
.price-cart{
    width: 90%;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-weight: 600;
}
.addtocart{
    color:#06E775;
    font-weight: 500;
    cursor: pointer;
}

/* CART SECTION */
.cart-section{
  width: 55%;
  min-height: 100vh;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.cart-container{
  padding: 40px;
  display: block;
}
.heading{
  font-size: 17px;
  padding-bottom: 22px;
}
.heading span{
  padding-left: 5px;
  padding-right: 5px;
  background: #06E775;
  color: #ffffff;
  border-radius: 7px;
  margin-left: 10px;
}
.heading-sect{
  display: flex;
  vertical-align: top;
  gap: 40px;
}
.heading-sect p{
  font-size: 12px;
  padding-bottom: 20px;
}
.cart-sect p{
  font-size: 15px;
  font-weight: 600;
}
.cart-sect{
  display: flex;
  vertical-align: top;
  gap: 50px;
  padding-bottom: 20px;
}
.cart-img{
  width:50px;
  height: 50px;
  position: relative;
  border-radius: 50px;
  margin-bottom: 1rem;
}
.cart-img-grp{
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 150px;
}
.cart-img-grp p{
  font-size: 12px;
  font-weight: 600;
}
.cart-img-grp span{
  font-size: 10px;
  color: rgba(255, 0, 0, 0.8);
  cursor: pointer;
  font-weight: 600;
}
.quantity span{
  padding-left: 5px;
  padding-right: 5px;
  background: #06E775;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.heading-item:nth-child(1){
  margin-right: 150px;
}
.heading-item:nth-child(2){
  margin-right: 30px;
}
.heading-item:nth-child(3){
  margin-right: 30px;
}
.cart-total{
  display: flex;
  align-items: center;
  gap: 45px;
  float: right;
  margin-right: 7%;
  margin-bottom: 20%;
}
.cart-total p{
  font-size: 14px;
}
.cart-total span{
  font-size: 17px;
  font-weight: 600;
}
.checkout-btn{
  /* position: relative;
  top: 50px; */
  margin: auto;
  width: 60%;
  height: 35px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 110px;
}
button{
  background: #00302E;
  width: 100%;
  height: 100%;
  color: #E2B887;
  border: 0;
  outline: none;
  box-shadow: 1px 1px 10px 1px #000000;
  cursor: pointer;
  border-radius: 7px;
}

@media(max-width:536px){
    
}