@import url(./fonts.css);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
  background: #ffffff;
  overflow-x: hidden;
}

.body-content{
    position: relative;
    width:100%;
    height: 100%;
    display: flex;
    background: #ffffff;
}

 /* NAVIGAION */

 /* using dashboard.css */

 
/* 
<!-- cart item details --> */

/* MAIN CONTAINER */
.main-container {
  width: 80%;
  position: relative;
  left: 20%;
  height: fit-content;
}
.cart-page{
  padding: 60px;
}
.cart-heading{
  font-size: 20px;
  padding-bottom: 12px;
}
.cart-reset-title{
  font-size: 20px;
}
.cart-reset{
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}
.cartHeading-div{
  display:flex;
  gap: 600px;
}
#cartEmpty{
  display: none;
}
#cartActive{
  display: none;
}
.cartEmptyImage{
  opacity: 0.5;
  width: 100%;
}

.cartEmptyDesc{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.cartEmptyDesc p{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}
.cartEmptyLink{
  background: #df06cd93;
  color: #ffffff;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
}
table{
  width: 80%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
td img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
td p{
  font-size: 14px;
}
th{
  text-align: left;
  padding: 5px;
  color: grey;
  font-weight: normal;
  font-size: 14px;
}
td{
  padding: 10px 5px;
  font-size: 15px;
  font-weight: 600;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: red;
  font-size: 12px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
.total-price table{
  border-top: 3px solid #00302E;
  max-width: 350px;
  width: 100%;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
.checkout{
  max-width: 300px;
  margin: 5% auto;
  padding-bottom: 30px;
}
.checkout-link{
  color: #E2B887;
  padding: 8px 100px;
  border-radius: 7px;
  background: #00302E;
}

@media(max-width:536px){
  .main-container{
    width:100%;
    position: relative;
    left: 0%;
    height: auto;
    padding: 20px 20px;
  }
  table{
    width: 100%;
  }
  .total-price{
    width: 100%;
  }
  .cart-info p{
    display: none;
  }
  #cartEmpty{
    flex-direction: column;
  }
  .cartEmptyDesc{
    margin-left: 20px;
  }

}

    