.main-wrap {
  position: relative;
}

.checkout-page {
  display: flex;
  padding: 30px 50px;
  gap: 20px;
}

.shippingForm {
  border: 1px solid #ddd;
  flex-basis: 60%;
  height: fit-content;
}

.formContainer {
  padding: 15px 20px;
}

.formHeading {
  color: #015c2e;
  font-weight: 500;
  margin: auto 20px;
}

form {
  padding: 15px auto;
  display: flex;
  flex-direction: column;
}

.formInput {
  padding: 10px;
  margin: 15px 20px;
  width: 40%;
  outline: none;
  font-size: 18px;
  border: 1px solid #ddd;
}

.formInput::placeholder {
  color: #acaaaa;
}

textarea {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ddd;
  margin: 10px 20px;
}

textarea::placeholder {
  color: #acaaaa;
}

.formBtn {
  padding: 10px;
  font-size: 16px;
  background: #00302E;
  color: #ffffff;
  width: 150px;
  margin-left: auto;
}

.formBtn {
  padding: 10px;
  font-size: 16px;
  background: #00302E;
  color: #ffffff;
  width: 150px;
  margin: auto 20px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 7px;
}

.formBtn:hover {
  background: #015c2e;
  color: #ffffff;
}

.paymentForm {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  /* justify-content: space-between; */
}

.orderContainer {
  border: 1px solid #ddd;
  height: fit-content;
}

.orderContainerWrap {
  padding: 15px 20px;
}

.orderHeading {
  color: #015c2e;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
}

table {
  width: 100%;
}

tr td:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
}

.payOption {
  margin-left: 30px;
}

.creditcards {
  margin: 10px auto;
  width: 100%;
  display: none;
}

.paymentContainer {
  border: 1px solid #ddd;
  height: fit-content;
  padding: 15px;
}

.paymentHeading {
  color: #015c2e;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.icons {
  width: 50px;
}

.payInput {
  padding: 8px;
  width: 100%;
  margin: 15px 0;
  border: 0;
  outline: none;
  border-bottom: 1px solid grey;
}

.payInput::placeholder {
  color: lightgray;
}

.cardIcons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payBtn {
  height: 40px;
  width: 100%;
  margin-top: 25px;
  border: 0;
  background: #00302E;
  color: #ffffff;
  font-size: 16px;
  box-shadow: -1px 3px 20px -2px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: -1px 3px 20px -2px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: -1px 3px 20px -2px rgba(0, 0, 0, 0.86);
  border-radius: 7px;
  cursor: pointer;
}

.modal-form {
  max-width: 400px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #ddd;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  height: 250px;
  width: 100%;
}

.modal-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-icon {
  width: 90px;
  height: 90px;
}

.modal-msg {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  text-align: center;
}

.modal-msg-sm {
  padding-bottom: 20px;
}

.modal-link {
  color: #ffffff;
  font-weight: 600;
  background-color: #00302E;
  padding: 10px;
  border-radius: 5px;
}


/* Styles for the password message container */
.c-message {
  position: fixed;
  bottom: 30px;
  left: 60%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Styles for success message */
.c-message.success {
  background-color: green;
  color: white;
  opacity: 1;
}

/* Styles for error message */
.c-message.error {
  background-color: red;
  color: white;
  opacity: 1;
}

@media(max-width:550px) {
  .checkout-page {
    flex-direction: column;
    padding: 50px 10px;
  }

  .shippingForm {
    flex-basis: 100%;
  }

  .formContainer {
    padding: 25px 10px;
  }

  .subFormGroup {
    display: flex;
    flex-direction: column;
  }

  .formInput {
    margin: 10px auto;
    width: 100%;
    font-size: 15px;
  }

  textarea {
    font-size: 15px;
    /* margin: 10px; */
  }

  .payOption {
    margin-left: 0;
  }

  .paymentContainer {
    padding: 15px 10px;
  }

  .icons {
    width: 40px;
  }

  .cardInfo {
    display: flex;
    justify-content: space-between;
  }

  .sm {
    width: 30%;
  }

  .payBtn {
    height: 40px;
    width: 100%;
    margin-top: 25px;
    border: 0;
    background: #00302E;
    color: #ffffff;
    font-size: 16px;
    box-shadow: -1px 3px 20px -2px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: -1px 3px 20px -2px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: -1px 3px 20px -2px rgba(0, 0, 0, 0.86);
    border-radius: 7px;
    cursor: pointer;
  }

  .modal-form {
    width: 300px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-container {
    margin: 0;
    height: 300px;
    width: 100%;
  }
  .c-message {
    width: 250px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
  }
}