@import url(./fonts.css);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* body{
    background: #00302E;
} */

.body-content{
    position: relative;
    width:100%;
    height: 100vh;
    /* height: auto; */
    display: flex;
}
/* NAVIGAION */

.navigation .sidebar-container{
    height: 100%;
    width: 20%;
    background: rgba(196, 196, 196, 0.42);
    display: flex;
    justify-content: start;
    align-items: start;
    position: fixed;
    left: 0;
}
.navigation .side-content{
    /* background-color: yellow; */
    width:90%;
    height: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;         */
    gap: 20%;
    align-items: center;
    padding: 5rem 0 0 0;
}
.navigation .logo{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #00302E;
}
.navigation .navbar{
    height: 45%;
    width:100%;
    display: flex;
    position: relative;
}
.navigation .nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:1rem;
    width: 100%;
}
.navigation .nav-menu li{
    width: 100%;
    display: flex;
    align-items: baseline;
    gap:10px;
    padding: 5px 20px;
    cursor: pointer;
}
.nav-menu li:hover{
    background-color: #efefef;
    border-radius: 12px;
    
}
.navigation .nav-menu li a{
    font-size: 14px;
    color:#bcbcbc
}
.navigation .nav-item:active{
    background-color: #efefef;
    border-radius: 12px;
    color: #000;
}
/* DashBoard Menu */
.bar{
    width: 35px;
    height: 3px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #FFFFFF;
    display: none;
}

@media(max-width:536px){
    .navigation .sidebar-container{
        height: 100vh;
        width: 60%;
        display: none;
        background: grey;
    }
    .navigation .logo{
        font-size: 30px;
    }
    .bar{
        display: block;
        margin: 7px 10px;
        background: #00302E;
    }
    .menu-icon{
        display: block;
        padding: 5px;
        height: fit-content;
        position: fixed;
        /* position: absolute; */
        z-index: 3;
    }
    .sidebar-container.active{
        display: block;
        z-index: 1;
    }
    .menu-icon.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu-icon.active .bar:nth-child(2){
        opacity: 0;
    }
    .menu-icon.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}



/* MAIN CONTAINER */
.main-container{
    width:80%;
    position: relative;
    left: 20%;
    
}
.main-content{
    width:90%;
    height:fit-content;
    margin: 3rem auto 0;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding-bottom: 5%;
}
.topbar-profile{
    display: flex;
    justify-content: space-between;
}
.greeting p{
    font-size: 13px;
}
.categories{
    flex-wrap: wrap;
    height: fit-content;
}
.category-btn{
    padding: 5px 20px ;
    font-size: 18px;
    background: rgba(196, 196, 196, 0.42);
    border: 0;
    box-shadow: 6px 1px 25px -16px rgba(0,0,0,1);
    margin: 5px 12px;
    border-radius: 12px;
    cursor: pointer;
}
.category-btn.active{
    background: #00302E;
    color: #efefef;
}
.hide{
    display: none;
}
.user{
    width:50px;
    height: 50px;
    border:1px solid #000;
    border-radius: 50px;
}
.item{
    width:200px;
    height: 300px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem 2rem 1rem;
    border: 0.3px solid rgba(0, 48, 46, 0.14);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #000000;
}
.item.show{
    animation: show .8s ease 0s 1 forwards;
    transform-origin: center;
}

.item.hide{
    animation: hide .8s ease 0s 1 forwards;
    transform-origin: center;
    display: none;
}

@keyframes hide{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
        width: 0;
        height: 0;
        margin: 0;
    }
}
@keyframes show{
    0%{
        transform: scale(0);
        width: 0;
        height: 0;
        margin: 0;
    }
    100%{ 
        transform: scale(1);
    }
}
.item-img{
    width:100px;
    height: 100px;
    position: relative;
    border-radius: 50px;
    margin-bottom: 1rem;
}
.item-img img{
    width:100px;
    height: 100px;
    border-radius: 50px;
}

.item-name{
    width:90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:3px;
    margin-bottom: 7px;
}
.items-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.item-name p{
    font-size: 13px;
}
.price-cart{
    width: 90%;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-weight: 600;
}
.addtocart{
    color:#06E775;
    font-weight: 500;
    cursor: pointer;
}



@media(max-width:536px){
    .body-content{
        position: relative;
        width:100%;
        height: auto;    
    }
        /* NAVIGAION */



        /* Check nagivation.html */



        /* MAIN CONTAINER */

    .main-container{
        width:100%;
        position: relative;
        left: 0;
    }
    .user{
        display: none;
    }
    .item{
        margin: auto;
    }
    .topbar-profile{
        display: block;
        padding: 20px;
    }



}

