/* font-family: 'Bona Nova', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif; */
*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root{
  --cream:#E2B887;
  --background: #00302E;
  --white:#FFFFFF;
  --footer: #0B0D17;
}
body{
  width: 100%;
}
main{
  max-width: 100%;
  padding-left:5%;
  padding-right:5%;
  background: var(--background);
}
section{
  padding-top: 3%;
  padding-bottom: 3%;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  background: #00302E;
  width: 100%;
  padding-left:5%;
  padding-right:5%;
  z-index: 1;
}
.logo{
  color: var(--white);
  font-size: 40px;
  font-family: 'Pacifico', cursive;
}
.menu-list .menu-items{
  display: inline-block;
  margin-right: 30px;
  list-style-type: none;

}
.menu-wrap{
  /* flex: 1; */
  text-align: right;
}
.link{
  text-decoration: none;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
#home{
  color: var(--cream);
  
}
#signupbtn{
  background: #E2B887;
  padding: 7px 15px;
  border-radius: 5px;
}
#signup{
  color: var(--background);
}
.menu-icon{
  color: #FFFFFF;
  display: none;
  cursor: pointer;
  
}
.bar{
  display: block;
  width: 35px;
  height: 3px;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #FFFFFF;
}
/* /////////////////////////////////////////////////////////////////////////////////// */
.container-1{
  margin: 5% auto;
  font-family: 'Bona Nova', serif;
  padding-top: 7%;
}
.row-1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col-1 h1{
  color: var(--white);
  font-size: 50px;
  
}
.col-1 h1 span{
  color: var(--cream);
  font-size: 50px;
}
.col-1 .paragraph{
  color: grey;
  font-size: 14px;
  max-width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.6;
}
.col-1 #homeImg{
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

#icon-logo{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.app-link button small{
  font-size: 7px;
}
.app-link button p a{
  font-size: 14px;
  color: #FFFFFF;
}
.app-link button{
  color: var(--white);
  background: #000000;
  border: 0.5px solid grey;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}
/* /////////////////////////////////////////////////////////////////////////////////// */
.heading{
  margin: auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  max-width: 50%;
  padding: 30px;
}
.heading h2{
  color: var(--white);
  padding-bottom: 10px;
}
.heading .heading-text{
  color: grey;
  line-height: 1.6;
}
.row-2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5% auto;
}
.col-2{
  text-align: center;
}
.col-2 h3{
  color: var(--cream);
  padding-bottom: 10px;
}
.col-2 p{
  color: var(--white);
  padding-bottom: 10px;
}
.display-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/* /////////////////////////////////////////////////////////////////////////////////// */
.row-3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 10%;
}
.aboutus img{
  object-fit: cover;
}
.col-3{
  flex-basis: 50%;
}
.aboutus h1{
  font-family: 'Dancing Script', cursive;
  color: var(--cream);
  font-size: 50px;
  padding-bottom: 20px;
}
.aboutus p{
  font-family: 'Bona Nova', serif;
  color: #FFFFFF;
  font-size: 18px;
  max-width: 70%;
  line-height: 1.6;
}
/* /////////////////////////////////////////////////////////////////////////////////// */
.row-4{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10% 10%;
}
/* .col-4{
  
} */
.notification{
  max-width: 60%;
  font-family: 'Poppins', sans-serif;
}
.notification h2{
 color: var(--cream);
 padding-bottom: 17px;
}
.notification p{
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.6;
}
.subcription{
  font-family: 'Bona Nova', serif;
  display: flex;
  align-items: center;
  gap: 7px;
}
.subcription input{
  border: 0;
  outline: none;
  height: 35px;
  width: 200px;
  border-radius: 4px;
  font-size: 15px;
}
.subcription button{
  border: 0;
  cursor: pointer;
  outline: none;
  height: 35px;
  width: 100px;
  border-radius: 4px;
  font-size: 12px;
  color: #0B0D17;
  background: #E2B887;
}
/* /////////////////////////////////////////////////////////////////////////////////// */

footer{
  background: var(--footer);
  padding-top: 7%;
  padding-bottom: 10%;
}
.foot-wrap{
  display: flex;
  vertical-align: top;
  justify-content: space-evenly;
}
.foothead{
  font-size: 14px;
  color: #FFFFFF;
  padding-bottom: 12px;
}
.footitem{
  padding-bottom: 7px;
}
.footlink{
  font-size: 14px;
  color: gray;
}
.footlist #app-head{
  font-size: 14px;
  color: #FFFFFF;
}
.footer-applink{
  padding-top: 20px;
}

.footer-applink button small{
  font-size: 7px;
}
.footer-applink button p a{
  font-size: 14px;
  color: #FFFFFF;
}
.footer-applink button{
  color: var(--white);
  background: #000000;
  border: 0.5px solid grey;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
}
@media(max-width:536px){
  body{
    width: 100%;
  }
  header, main{
    padding-left:auto;
    padding-right:auto;
    background: var(--background);
  }
  nav{
    padding-top: 5px;
    padding-bottom: 15px;
  }
  
  .menu-icon{
    display: block;
  }
  .menu-icon.active .bar:nth-child(2){
    opacity: 0;
  }
  .menu-icon.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .menu-icon.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .logo{
    color: var(--cream);
  }
  .menu-list{
    width: fit-content;
    position: fixed;
    flex-direction: column;
    top: 100px;
    right: -100%;
    z-index: 2;
    transition: 0.3s;
  }
  .menu-list.active{
    right: 0;
  }

  .menu-list .menu-items{
    display: block;
    padding: 10px;
  }
         /* ///////////////////////////////////////////////////////////////////////////////   */

  .container-1{
    margin: 10% auto;
    position: relative;
    
  }
  .row-1{
    display: block;
    padding-top: 10%;
  }
  .col-1{
    padding-bottom: 20px;
  }
  .col-1 .paragraph{
    max-width: 100%;
  }
  /* .col-1 h1{
    font-size: 40px;
  }
  .col-1 h1 span{
    font-size: 40px;
  } */
  .col-1 #homeImg{
    width: 100%;
    height: 350px;
  }
           /* ///////////////////////////////////////////////////////////////////////////////   */

  .heading{
    max-width: 100%;
    padding: 30px;
  }

  .row-2{
    display: block;
    margin: 5% auto;
  }
  .col-2{
    padding-bottom: 30px;
  }
  .display-img{
    width: 50%;
    height: 200px;
    border-radius: 50%;
  }
           /* ///////////////////////////////////////////////////////////////////////////////   */


  .row-3{
    display: block;
    margin: 5% 10%;
  }
  .aboutus img{
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
  }
  .col-3{
    flex-basis: 100%;
  }
  .aboutus h1{
    font-size: 40px;
  }
  .aboutus p{
    font-size: 15px;
    max-width: 90%;
  }

           /* ///////////////////////////////////////////////////////////////////////////////   */

  .row-4{
    display: block;
    margin: 12% auto;
  }
  .notification{
    max-width: 90%;
    padding-bottom: 20px;
  }
           /* ///////////////////////////////////////////////////////////////////////////////   */
  
  .foot-wrap{
    display: block;
  }
  .footlist{
    padding-bottom: 20px;
  }
  .footer-applink, #app-head{
    margin-left: 40px;
  }
}