@import url(./fonts.css);

.profile-picture-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid grey;
}

/* DashBoard Menu */
.bar {
    width: 35px;
    height: 3px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #FFFFFF;
    display: none;
} */

/* MAIN CONTAINER */
.main-container {
    width: 80%;
    position: relative;
    left: 20%;
    height: fit-content;
}
.profile-page{
    padding: 60px;
}
#profile-image-mobile{
    display: none;
}
.profile-image{
    width: 100%;
    border-radius: 50%;
}
.account-container{
    display: flex;
}
.group-left{
    flex: 1;
}
.password-container {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.password-container {
    margin: 0rem auto 0;
}

.account-form {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.account-form div {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.pass-form {
    display: flex;
    flex-direction: column;
}

.pass-form div.top {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.pass-form div.bottom {
    display: flex;
    gap: 20px;
}

.bottom div {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.disabled{
    background-color: #d0d0d0;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    cursor: not-allowed;
}

input {
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

#update-btn {
    width: 180px;
    height: 45px;
    font-size: 18px;
    background-color: #00302E;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}


@media(max-width:536px) {
    .navigation .sidebar-container {
        height: 100vh;
        width: 60%;
        display: none;
        background: grey;
    }
    .navigation .side-content{
        height: 65%;
        gap: 20%;
    }
    .navigation .logo {
        font-size: 30px;
    }
    .profile-picture-wrapper {
        display: none;
    }

    .bar {
        display: block;
        margin: 7px 10px;
        background: #FFFFFF;
    }

    .menu-icon {
        display: block;
        padding: 5px;
        height: fit-content;
        position: fixed;
        /* position: absolute; */
        z-index: 3;
    }

    .sidebar-container.active {
        display: block;
        z-index: 1;
    }

    .menu-icon.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    /* MAIN CONTAINER */
    .profile-page{
        padding: 50px 20px;
    }
    #profile-image-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        /* float: right; */
    }
    .profile-div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .account-container,
    .password-container {
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .pass-form div.top {
        padding: 10px;
        width: 100%;
    }

    .pass-form div.bottom {
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }

    .bottom div {
        width: 100%;
    }
    #update-btn {
        margin: 10px;
    }

    .group-right{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}