/* @import url(./fonts.css); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.register-image {
    width: 50vw;
    height: 100%;
    background-image: url(/public/img/registerImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    background-color: #E2B88766;
    height: 100%;
    width: 100%
}

.register-container {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.registerForm {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    height: 100vh;
    text-align: center;
}

.register-title {
    color: #00302E;
    font-size: 37px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
}
.register-title span {
    color: #E2B887;
    font-size: 37px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
}
.register-container #home{
    color: #00302E;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 100px;
    font-family: 'Bona Nova', serif;
    font-weight: 600;
}
#profileImage,#gender{
    color: grey;
    
}
.custom-select{
    width: 100%;
}
.input-box {
    display: block;
    width: 80%;
    height: 50px;
    margin: 3px auto;
    padding: 15px;
    outline: none;
    border: 1px solid #FBDDBB82;
    border-radius: 5px;
}

.btn-input {
    width: 80%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00302E;
    border-radius: 5px;
    border: none;
    color: #FBDDBB;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #000000;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.links a {
    font-size: 13px;
    color: rgba(0, 48, 46, 0.91);
}
.links a span{
    font-weight: 600;
}
.passwordDiv{
    width: 80%;
    position: relative;
}
#password{
    width: 100%;
    padding-right: 30px;
}
#passwordIcon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


/* RESPONSIVE */
@media screen and (max-width:950px) {
    .register-image{
        display: none;
    }
    .register-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .registerForm {
        width: 100%;
        height: 90vh;
    }
    .register-title {
        font-size: 27px;
    }
    .register-container #home{
        top: -10px;
        right: 50px;
    }
}